<div class="contact-info">
  <div class="contact-info__element">
    <span class="contact-info__element--title">{{ 'CONTACT.TELEPHONE' | translate }}</span>
    <div class="contact-info__element--value">
      <mat-icon class="mat-select-arrow--custom" fontSet="fa" fontIcon="fa-phone"></mat-icon>
      <span >{{ '+39 3403760270' }}</span>
    </div>
  </div>
  <div class="contact-info__element">
    <span class="contact-info__element--title">{{ 'CONTACT.EMAIL' | translate }}</span>
    <div class="contact-info__element--value">
      <mat-icon class="mat-select-arrow--custom" fontSet="fa" fontIcon="fa-envelope"></mat-icon>
      <span>{{ 'acs3d.info@gmail.com' }}</span>
    </div>
  </div>
</div>
<app-contact></app-contact>
