//primary
$primario: #256eb3;
$pt1: #4695df;
$pt2: #6fb2ee;
$pt3: #174f84;
$pt4: #eef3fc;
$light-blue: #B6E8FD;

//secondary
$st1: #e0ecf2;
$st2: #f3fbff;

//giallo
$giallo1: #FFFF00;
$giallo2: #BDC100;

//neutral
$nero: #000;
$grigio1: #333333;
$grigio2: #4d4d4d;
$grigio3: #8c8c8c;
$grigio4: #f1f1f1;
$grigio5: #f8f8f9;
$bianco: #fff;
$g1: #d9dde3;

$grigio-disabilitato: #c7c7cc;

//status
$successo: #1C7C47;
$successo--light: #E6F4F0;
$intermedio: #0b4bc7;
$intermedio--light: #EDF4FB;
$pending: #585858;
$inprogress: #CC6511;
$inprogress--light: #FFFAF3;
$errore: #B0123B;
$errore--light: #FAEBEE;
$notvalid: #B0123B;

$darkborder: transparentize(#001c37, 0.6);
$btntertiary: #eff3fc;
