<div class="header">
  <div class="header__logo" (click)="navigateToPage('')">
    <div class="header__logo__icon-svg" aria-label="My icon" [inlineSVG]="'/assets/icon/ACS.svg'"></div>
    <span> {{ 'HEADER.MOTTO' | translate }}</span>
  </div>
  <div class="language-selector">
    <mat-icon fontSet="fa" fontIcon="fa-globe" class="language-selector__icon"></mat-icon>
    <mat-form-field appearance="outline" class="language-selector__select">
      <mat-select [value]="currentLang" (selectionChange)="changeLanguage($event)">
        <mat-option value="it-IT">{{ getLanguage('it-IT') }}</mat-option>
        <mat-option value="en-EN">{{ getLanguage('en-EN') }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="header__menu">
    <span class="header__menu__item" (click)="navigateToPage('')">{{ 'HEADER.3DPRINT' | translate | uppercase }}</span>
    <span class="header__menu__item" (click)="navigateToPage('technology')">{{ 'HEADER.TECHNOLOGY' | translate | uppercase }}</span>
    <span class="header__menu__item" (click)="navigateToPage('contact')">{{ 'HEADER.CONTACT' | translate | uppercase }}</span>
  </div>
</div>
